@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  background-color: #121214;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.6;
}

p, textarea, input, span {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}